@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(102, 115, 152, 1) 98%
  );
  /* background: rgb(102, 115, 152);
  background: linear-gradient(
    0deg,
    rgba(102, 115, 152, 1) 0%,
    rgba(255, 255, 255, 1) 85%
  ); */
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

.foto {
  width: 6rem;
}

p,
h2,
li {
  color: #1d4a8d;
}

p,
li {
  font-size: 0.8rem;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  font-family: "Clicker Script", cursive;
  color: #d270a7;
}

.btn {
  background-color: #1d4a8d;
  color: white;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: #08316e;
  color: white;
}

.bi {
  font-size: 0.8rem;
}

.footer img {
  width: 5rem;
  opacity: 70%;
  position: fixed;
  bottom: 0;
  left: center;
  padding-bottom: 1.5rem;
}

h2 {
  font-size: 1rem;
}

li {
  padding-bottom: 1rem;
}

.notification {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
